*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background-image: url(../../assets/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

.flip-animation{
    transform: rotateY(180deg);
}

c:hover{
    font-weight: bold;
}
d{
    font-size: .1875rem;
}
/* ---------- HEADER ---------- */

#header{
    width: 100%;
    height: 5.3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.container{
    padding: .3125rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul{
    position: absolute;
    right: 1.5%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 .625vw;
    align-items: right;
    color: white;
    margin-left: 1.25vw;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    font-size: 1.875rem;
    font-weight: 400;
    position: relative;
    transition: text-shadow .25s;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: .1875vw;
    background: #6a00ff;
    position: absolute;
    left: 0;
    bottom: -.275rem;
    transition: 0.3s;
}

nav ul li a:hover{
    text-shadow: 0 0 1.25vw #ffffff;
    transition: .25s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* ---------- INTRODUCTION ---------- */

#introduction{
    /* font-size: 2.1875vw; */
    margin-left: 7.08%;
    margin-top: 0.4%;
    text-align: left;
    position: relative;
}

#introduction .icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: .5rem;
    left: 27rem;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    z-index: 4;

}

#introduction .icons img{
    width: 3.2rem;
    max-width: 6rem;
    margin-bottom: 1rem;
    transition: .5s;

}

#introduction .icons img:hover{
    width: 3.8rem;
    max-width: 6rem;
    margin-bottom: 1rem;
    transition: .5s;

}

#linkedin{
    position: relative;
    left: -3.45rem;
}

#github{
    position: relative;
    left: -.45rem;
}

#twitter{
    position: relative;
    top: .8rem;
    left: .75rem;
}

#instagram{
    position: relative;
    top: 1.5rem;
    left: .4rem;
}

#introduction .imageContainer{
    position: relative;
    width: 26.125rem;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

#introduction .front{
    width: 26.125rem;
    max-width: 50rem;
    height: 26.125rem;
    border-radius: 50%;

    position: absolute;
    backface-visibility: hidden;
    color: #fff;
    transform: translateZ(0);
}

#introduction .back{
    width: 26.125rem;
    height: 26.125rem;
    border-radius: 50%;
    backface-visibility: hidden;
    background: #6a00ff9b;
    outline: .3125rem solid #ffffff;
    outline-offset: .45rem;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
}

#introduction .back p{
    position: relative;
    top: 3rem;
    padding: 3.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-shadow: #ffffff 0rem 0rem .625rem;
}

#introduction .imageContainer img:hover{
    transform: scale(1.03);
    transition: transform .25s;
}

#introduction .imageContainer:hover{
    cursor: pointer;
}

.headshot{
    width: 26.125rem;
    max-width: 50rem;
    border-radius: 50%;
    background-image: url(../../assets/img/headshot.png);
    background-size: cover;
    background-position: center;
    /* create a drop shadow */
    outline: .3125rem solid #ffffff;
    outline-offset: .45rem;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    /* margin-top: 5%; */
    /* margin-left: 9%; */
    transition: transform .25s;
}

.introduction-text{
    margin-left: -1.8%;
    margin-top: 0%;
    padding-top: 2%;
    position: relative;
    top: 0vw;
}

#introduction p{
    text-shadow: #000000 0 0 .625rem;
    
    font-weight: 100;
    margin-left: .1%;
    font-size: 1.875rem;
}

#preface {
    margin-top: -5vw;
    font-size: 3.75rem;
    font-weight: 600;
    text-shadow: #00000034 0rem 0rem .5rem;
}

#name {
    font-size: 5.3125rem;
    margin-top: -.5%;
    font-weight: 800;
    margin-left: -.1%;
    text-shadow: #0000005c 0 0 1.225rem;
}





/* ------------- ABOUT --------------- */

#about{
    padding-top: 22%;
    padding-left: 4%;
    padding-right: 4%;
    color: #ffffff;
    text-shadow: #000000 0rem 0rem .625rem;
}

#about a{
    text-decoration: underline;
    color: #ffffff;
}

.row{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.row p{
    line-height: 1.15;
}

.about-col-1{
    flex-basis: 45%;
    
    text-align: left;
    padding-right: 1.6rem;
    font-size: 1.25rem;
}

.sub-title{
    text-align: center;
    color: #fff;
}

.about-col-2{
    flex-basis: 28.5%;
    height: 32rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 5.25rem;
    position: relative;
}

/* --------IMAGE 2 --------- */

#about .imageContainer{
    position: absolute;
    width: 25rem;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

#about .front{
    position: absolute;
    width: auto;
    height: 33.2rem;
    backface-visibility: hidden;
    background: #6a00ff;
    color: #fff;
    border-radius: 3.125rem;
    transform: translateZ(0);
}

#about .back{
    position: absolute;
    width: auto;
    height: 33.2rem;
    backface-visibility: hidden;
    background: #6a00ff9b;
    border-radius: 3.125rem;
    outline: .3125rem solid #ffffff;
    outline-offset: .45rem;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
}

#about .back p{
    margin-top: 2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    font-size: 1.4rem;
    text-shadow: #ffffff 0rem 0rem .625rem;
}
 
#about .front img{
    width: 100%;
    height: 100%;
    border-radius: 3.125rem;
    outline: .3125rem solid #ffffff;
    outline-offset: .45rem;
    transition: transform .25s;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    backface-visibility: hidden;

    
}

#about .imageContainer img:hover{
    transform: scale(1.03);
    transition: transform .25s;
}

#about .imageContainer:hover{
    cursor: pointer;
}

.sub-title{
    font-size: 4.0625rem;
    font-weight: 700;
}

.tab-titles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.25rem 0 1rem;
    align-items: center;
}

.tab-titles p{
    font-size: 1.575rem;
    transition: text-shadow .25s;
}

.tab-titles p:hover{
    text-shadow: 0 0 1.25rem #ffffff;
    transition: text-shadow .25s;
}

.tab-links{
    margin-right: 1.825rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: .1875rem;
    background: #6a00ff;
    position: absolute;
    left: 0;
    bottom: -.25rem;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: .625vw 0;
}

#about .icons{
    display: flex;
    flex-direction: column;
}

#about .icons ul{
    list-style: none;
    position: relative;
    bottom: 0rem;
    right: 0;
    
}

#about .icons img{
    width: 3.75rem;
    margin-right: .5rem;
    margin-bottom: 2.7rem;
    filter: drop-shadow(0 0 .35rem rgb(0, 0, 0));
}

.tab-contents ul li f{
    color: rgb(151, 151, 151);
    text-align: end;
}

.tab-contents ul li c{
    color: #ffffff;
}

.tab-contents ul li a{
    color: #ffffff;
}

.tab-contents ul li span{
    color: #d1a9ff;
    font-size: 1.5625rem;
}



.tab-contents ul li::after{
    content: "";
    display: table;
    clear: both;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}



/* ------------- RESEARCH --------------- */

#research{
    /* padding-top: 480px; */
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 4%;
    color: #ffffff;
}

#research h1{
    position: relative;
    left: -11vw;
}

.research-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    grid-gap: 2.5rem;
    margin-top: 1.25rem;
    margin-right: 23vw;
}

.research-header{
    background: #6a00ff2d;
    padding: 2.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 2.5rem;
    transition: transform .25s;
    position: relative;
}

.research-header i{
    font-size: 3.125rem;
    padding-bottom: 1.875vw;
}

.research-header h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.research-header a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    display: inline-block;
}

.research-header:hover{
    background: #6a00ff51;
    transform: translateY(-.625vw);
    transition: .25s;
}

.research-header p{
    line-height: 1.3;
}

.research-images{
    display: flex;
    margin-top: 2rem;
}

.research-images iframe{
    border-radius: 2rem;
    outline: .25rem solid #ffffff;
    outline-offset: .45rem;
    filter: drop-shadow(0 0 1vw rgb(0, 0, 0));
    position: relative;
    z-index: 30;
}

.research-pictures{
    height: 12rem;
    margin-left: auto;
    margin-right: 1rem;
}

.rpic1{
    margin-left: 1vw;
    position: relative;
    left: 2vw;
    z-index: 2;
    transition: transform .25s;
}

.rpic1 img{
    width: 19rem;
    border-radius: 2rem;
    outline: .25rem solid #ffffff;
    outline-offset: .45rem;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
}

.research-pictures .rpic1:hover{
    z-index: 4;
    transform: translateY(-.2rem);
    transition: .25s;
}

.research-pictures .rpic2:hover{
    z-index: 4;
    transform: translateY(-.2rem);
    transition: .25s;
}

.rpic2{
    z-index: 1;
    position: relative;
    top: -15rem;
    left: -8vw;
    transition: transform .25s;
}

.rpic2 img{
    width: 12rem;
    border-radius: 2rem;
    outline: .25rem solid #ffffff;
    outline-offset: .45rem;
    filter: drop-shadow(0 0 1vw rgb(0, 0, 0));
}


/* ------------- PROJECTS --------------- */

#projects{
    /* padding-top: 480px; */
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
    color: #ffffff;
}

#projects h1{
    position: relative;
}

#projects p{
    font-size: 1.15rem;
}

#projects a{
    z-index: 200;
}

#projects input{
    display: none;
}

#s1:checked ~ .project-list #slide2,
#s2:checked ~ .project-list #slide3,
#s3:checked ~ .project-list #slide1{
    transform: translate(36%, 0) scale(.91);
}

#s1:checked ~ .project-list #slide3,
#s2:checked ~ .project-list #slide1,
#s3:checked ~ .project-list #slide2{
    transform: translate(-36%, 0) scale(.91);
}

#s1:checked ~ .project-list #slide1,
#s2:checked ~ .project-list #slide2,
#s3:checked ~ .project-list #slide3{
    transform: translate(0%, 0) scale(1);
    z-index: 20;
}

#s1:checked ~ .project-list #slide2 .cover,
#s2:checked ~ .project-list #slide3 .cover,
#s3:checked ~ .project-list #slide1 .cover{
    opacity: .3;
}

#s1:checked ~ .project-list #slide3 .cover,
#s2:checked ~ .project-list #slide1 .cover,
#s3:checked ~ .project-list #slide2 .cover{
    opacity: .3;
}

#s1:checked ~ .project-list #slide1 .cover,
#s2:checked ~ .project-list #slide2 .cover,
#s3:checked ~ .project-list #slide3 .cover{
    opacity: 0;
}

#projects .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 4rem;
}

.project-list{
    position: relative;
    height: 40rem;
    width: 32rem;
    margin-top: 2rem;
    perspective: 50rem;
    transform-style: preserve-3d;
    display: flex;
    
}

.project-list label{
    position: absolute;
    flex: 0 0 18rem;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform .5s ease;
    filter: drop-shadow(0 0 2rem rgb(0, 0, 0));
}

.project{
    border-radius: 2.8rem;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    height: 40rem;
    outline: .15rem solid #ffffff;
    z-index: 40;
}

/* NOT CURRENTLY USING IMGS */
.project img{
    width: 100%;
    border-radius: 1.875vw;
    display: block;
    transition: transform .5s, opacity .5s;
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: opacity .25s;
    z-index: 100;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #6a00ffbd);
    border-radius: .625rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.5rem;
    text-align: center;
    font-size: .875rem;
    transition: height .35s;
}

.layer h3{
    font-weight: 800;
    font-size: 2rem;
    text-shadow: 0 0 2rem rgb(0, 0, 0);
}

.layer h4{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: .2rem;
    text-shadow: 0 0 2rem rgb(0, 0, 0);
}
.layer p{
    text-shadow: 0 0 2rem rgb(0, 0, 0);
}

.layer a{
    font-size: .625rem;
    margin-top: .625vw;
    text-decoration: none;
    line-height: 3.75rem;
    color: #6a00ff;
    background: #ffffff;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    text-align: center;
}

.frameworks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: .75rem;
    width: 100%;
    height: auto;
}

.frameworks img{
    width: 3rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
    border-radius: 0px;
    filter: drop-shadow(0 0 1vw rgba(0, 0, 0, 0.5));
}

.project:hover img{
    transform: scale(1.05);
}

.project:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 3.125vw auto;
    width: fit-content;
    border: .25vw solid #fff;
    padding: .875vw 3.125vw;
    border-radius: 1.1vw;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    background: #6a00ff4f;
    transition: background 0.3s;
    
}

.btn:hover{
    background: #6a00ff;
}



/* ------------- CONTACT --------------- */

#contact{
    padding-top: 11%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: #ffffff;
    text-shadow: #0000005c 0 0 1.225rem;
}

#contact .container{
    overflow: hidden;
}

#contact .sub-title{
    text-align: left;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 1.875rem;
}

.contact-left p{
    color: #fff;
    margin-right: .94rem;
    font-size: 1.7rem;
}
.social-icons{
    margin-top: 1.875rem;
}

.social-icons a{
    text-decoration: none;
    font-size: 2.4rem;
    margin-right: .94rem;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s, font-size 0.5s;
}

.social-icons a:hover{
    transform: translateY(-.31rem);
    font-size: 2.8rem;
}

.btn.btn2{
    display: inline-block;
    background:#6a00ff55;
    text-shadow: none;
}

.btn.btn2:hover{
    background: #6a00ff96;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: .94rem;
    margin: .94rem 0;
    color: #fff;
    font-size: 1.125rem;
    border-radius: .375rem;
}

form .btn2{
    padding: .875rem 3.75rem;
    font-size: 1.125rem;
    margin-top: 1.25rem;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 1.56rem 0;
    background: #262626;
    font-weight: 300;
    margin-top: 1.25rem;
}

nav .fa-solid{
    display: none;
}

#msg{
    color: #ffffff;
    margin-top: -2.5rem;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
}

.copyright a{
    position: absolute;
    right: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* ------------- CSS for MOBILE SCREEN ------------ */

@media only screen and (max-width: 600px){

    nav ul{
        background: #6a00ff;
        position: fixed;
        top: 0;
        right: -12rem;
        width: 12rem;
        height: 100vh;
        padding-top: 4rem;
        z-index: 100;
        transition: right .5s;
    }

    nav ul li{
        list-style: none;
        display: inline-block;
        margin: 0 0;
        align-items: left;
        color: white;
        display: block;
        margin-left: 1.1rem;
        margin-bottom: 1.2rem;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
    }

    nav ul li a
    {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;
        position: relative;
        transition: .25s;
    }
    
    nav ul li a::after{
        content: '';
        width: 0;
        height: .1875rem;
        background: #6a00ff;
        position: absolute;
        left: 0;
        bottom: -.375rem;
        transition: 0.3s;
    }
    
    nav ul li a:hover{
        text-shadow: 0 0 1.25rem #ffffff;
        transition: .25s;
    }
    
    nav ul li a:hover::after{
        width: 100%;
    }


    nav .fa-solid{
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2.2rem;
    }



    /* ---------- INTRODUCTION ---------- */

    #introduction{
        margin-left: 5.0%;
        margin-top: 8%;
    }

    #introduction .icons{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10.5rem;
        left: 14rem;
        filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
        z-index: 4;

    }

    #introduction .icons img{
        width: 3.2rem;
        max-width: 6rem;
        margin-bottom: 0rem;
        transition: .5s;

    }

    #introduction .icons img:hover{
        width: 3.2rem;
        max-width: 6rem;
        margin-bottom: 0rem;
        transition: .5s;
    }

    #linkedin{
        position: relative;
        top: -1.5rem;
        left: 3.5rem;
    }

    #github{
        position: relative;
        left: 3.1rem;
        top: -0rem;
    }

    #twitter{
        position: relative;
        top: 1.3rem;
        left: .8rem;
    }

    #instagram{
        position: relative;
        top: 1.5rem;
        left: -3rem;
    }

    #introduction .imageContainer{
        position: relative;
        left: -7rem;
        width: 23.125rem;
        height: 23.125rem;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
    }

    #introduction .front{
        width: 23.125rem;
        height: 23.125rem;
        border-radius: 50%;

        position: absolute;
        backface-visibility: hidden;
        color: #fff;
        transform: translateZ(0);
    }

    #introduction .back{
        width: 23.125rem;
        height: 23.125rem;
        border-radius: 50%;
        backface-visibility: hidden;
        background: #6a00ff9b;
        color: rgb(255, 255, 255);
        transform: rotateY(180deg), translateZ(0);
        outline: 0rem solid #ffffff;
        outline-offset: 0rem;
        border: #ffffff .5rem solid;
    }

    #introduction .back p{
        position: relative;
        top: -2rem;
        left: 1rem;
        padding: 5rem;
        font-size: 1.1rem;
        font-weight: 400;
    }

    .headshot{
        position: relative;
        width: 23.125rem;
        max-width: 50rem;
        transition: transform .25s;

        outline: 0rem solid #ffffff;
        outline-offset: 0rem;
        border: #ffffff .5rem solid;

        box-sizing: border-boxs;
    }

    .introduction-text{
        position: relative;
    }

    #introduction p{
        font-weight: 100;
        margin-left: 2%;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    #preface {
        margin-top: .4rem;
        font-size: 3rem;
        font-weight: 600;
        text-shadow: #00000034 0rem 0rem .5rem;
    }

    #name {
        font-size: 5rem;
        margin-top: 2%;
        font-weight: 800;
        margin-left: -.1%;
        text-shadow: #0000005c 0 0 1.225rem;
    }

    /* ------------- ABOUT --------------- */

    #about{
        margin-top: 15%;
        padding-left: 1%;
        padding-right: 1%;
        color: #000000;
        text-shadow: #ffffff 0rem 0rem .5rem;
    }

    #about a{
        text-decoration: underline;
        color: #000000;
    }

    .row{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .row p{
        line-height: 1.3;
    }

    .about-col-1{
        flex-basis: 45%;
        text-align: left;
        padding-right: 0rem;
        font-size: .75rem;
    }
    .about-col-1 p{
        margin-right: 1.35rem;
    }

    #about .sub-title{
        text-align: center;
        color: #000000;
        position: relative;
        right: 5rem;
    }

    .about-col-2{
        flex-basis: 100%;
        height: 24rem;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        padding-top: 0rem;
    }

    /* --------IMAGE 2 --------- */

    #about .imageContainer{
        width: 16rem;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
    }

    #about .front{
        width: 100%;
        height: auto;
        backface-visibility: hidden;
        background: #6a00ff;
        color: #fff;
        border-radius: 3.125rem;
        transform: translateZ(0);
    }

    #about .back{
        width: 100%;
        height: 21.3rem;
        backface-visibility: hidden;
        background: #6a00ff9b;
        border-radius: 3.125rem;
        outline: 0rem solid #ffffff;
        outline-offset: 0rem;
        border: #ffffff .3rem solid;
        color: rgb(255, 255, 255);
        transform: rotateY(180deg), translateZ(0);
    }

    #about .back p{
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        font-size: 1.2rem;
    }
    
    #about .front img{
        width: 100%;
        height: 100%;
        border-radius: 3.125rem;
        outline: 0rem solid #ffffff;
        outline-offset: 0rem;
        border: #ffffff .3rem solid;
        transition: transform .25s;
        filter: drop-shadow(0 0 .8rem rgb(0, 0, 0));
        backface-visibility: hidden;

        
    }

    #about .imageContainer img:hover{
        transform: scale(1.0);
        transition: transform .25s;
    }

    #about .imageContainer:hover{
        cursor: pointer;
    }

    .sub-title{
        font-size: 2.3rem;
        font-weight: 700;
    }

    .tab-titles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem 0 .5rem;
        align-items: center;
    }

    .tab-titles p{
        font-size: 1rem;
        transition: text-shadow .25s;
    }

    .tab-titles p:hover{
        text-shadow: 0 0 1.25rem #ffffff;
        transition: text-shadow .25s;
    }

    .tab-links{
        margin-right: 1rem;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }

    .tab-links::after{
        content: '';
        width: 0;
        height: .1875rem;
        background: #6a00ff;
        position: absolute;
        left: 0;
        bottom: -.1rem;
        transition: 0.5s;
    }

    .tab-links.active-link::after{
        width: 100%;
    }

    .tab-contents ul li{
        list-style: none;
        margin: .4rem 0;
    }

    #about .icons{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
    }

    #about .icons ul{
        list-style: none;
        position: relative;
        bottom: 0rem;
        right: 0;
        
    }

    #about .icons img{
        width: 2rem;
        margin-right: .1rem;
        margin-bottom: 1.6rem;
        filter: drop-shadow(0 0 .35rem rgb(255, 255, 255));
    }

    .tab-contents ul li f{
        color: rgb(130, 130, 130);
        text-align: end;
    }

    .tab-contents ul li c{
        color: #000000;
    }

    .tab-contents ul li a{
        color: #000000;
    }

    .tab-contents ul li span{
        color: #6a00ff;
        font-size: .8rem;
    }



    .tab-contents ul li::after{
        content: "";
        display: table;
        clear: both;
    }

    .tab-contents{
        display: none;
        position: relative;
        left: 1.5rem;
    }

    .tab-contents.active-tab{
        display: block;
    }

    
    /* ------------- RESEARCH --------------- */

    #research{
        /* padding-top: 480px; */
        padding-top: 5%;
        padding-left: 4%;
        padding-right: 4%;
        color: #ffffff;
    }

    #research h1{
        position: relative;
        left: 0rem;
    }

    .research-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
        grid-gap: 2.5rem;
        margin-top: .6rem;
        margin-right: 0rem;
    }

    .research-header{
        background: #6a00ff2d;
        padding: 2rem;
        font-size: .8rem;
        font-weight: 300;
        border-radius: 2rem;
        transition: transform .25s;
        position: relative;
    }

    .research-header i{
        font-size: 2rem;
        padding-bottom: 1.875vw;
    }

    .research-header h2{
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    .research-header a{
        text-decoration: underline;
        color: #fff;
        font-size: .8rem;
        display: inline-block;
    }

    .research-header:hover{
        background: #6a00ff51;
        transform: translateY(-.625vw);
        transition: .25s;
    }

    .research-header p{
        line-height: 1.3;
    }

    .research-images{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .research-images iframe{
        width: 100%;
        border-radius: 1rem;
        outline: 0rem solid #ffffff;
        outline-offset: 0rem;
        border: #ffffff .4rem solid;
        filter: drop-shadow(0 0 1vw rgb(0, 0, 0));
        margin-bottom: 0rem;
    }

    .research-pictures{
        height: 15rem;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .rpic1{
        margin-left: 0rem;
        position: relative;
        top: 1rem;
        left: 0rem;
        z-index: 2;
        transition: transform .25s;
    }

    .rpic1 img{
        width: 13rem;
        border-radius: 2rem;
        outline: 0rem solid #ffffff;
        outline-offset: 0rem;
        border: #ffffff .4rem solid;
        filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    }

    .research-pictures .rpic1:hover{
        z-index: 4;
        transform: translateY(-.2rem);
        transition: .25s;
    }

    .research-pictures .rpic2:hover{
        z-index: 4;
        transform: translateY(-.2rem);
        transition: .25s;
    }

    .rpic2{
        z-index: 1;
        top: -1rem;
        left: 0rem;
        transition: transform .25s;
    }

    .rpic2 img{
        width: 9rem;
        border-radius: 2rem;
        outline: 0rem solid #ffffff;
        outline-offset: 0rem;
        border: #ffffff .4rem solid;
        filter: drop-shadow(0 0 1vw rgb(0, 0, 0));
        position: relative;
        right: -9rem;
    }

    /* ------------- PROJECTS --------------- */

    #projects{
        /* padding-top: 480px; */
        padding-top: 20%;
        padding-left: 4%;
        padding-right: 4%;
        color: #ffffff;
    }

    #projects h1{
        position: relative;
    }

    #projects p{
        font-size: .7rem;
    }

    #projects a{
        z-index: 200;
    }

    #projects input{
        display: none;
    }

    #s1:checked ~ .project-list #slide2,
    #s2:checked ~ .project-list #slide3,
    #s3:checked ~ .project-list #slide1{
        transform: translate(41%, 0) scale(.91);
    }

    #s1:checked ~ .project-list #slide3,
    #s2:checked ~ .project-list #slide1,
    #s3:checked ~ .project-list #slide2{
        transform: translate(-41%, 0) scale(.91);
    }

    #s1:checked ~ .project-list #slide1,
    #s2:checked ~ .project-list #slide2,
    #s3:checked ~ .project-list #slide3{
        transform: translate(0%, 0) scale(1);
        z-index: 20;
    }

    #s1:checked ~ .project-list #slide2 .cover,
    #s2:checked ~ .project-list #slide3 .cover,
    #s3:checked ~ .project-list #slide1 .cover{
        opacity: .3;
    }

    #s1:checked ~ .project-list #slide3 .cover,
    #s2:checked ~ .project-list #slide1 .cover,
    #s3:checked ~ .project-list #slide2 .cover{
        opacity: .3;
    }

    #s1:checked ~ .project-list #slide1 .cover,
    #s2:checked ~ .project-list #slide2 .cover,
    #s3:checked ~ .project-list #slide3 .cover{
        opacity: 0;
    }

    #projects .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        flex-direction: column;
    }

    .project-list{
        position: relative;
        height: 20rem;
        width: 13.5rem;
        margin-top: 1rem;
        perspective: 50rem;
        transform-style: preserve-3d;
        display: flex;
        
    }

    .project-list label{
        position: absolute;
        flex: 0 0 18rem;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        transition: transform .5s ease;
        filter: drop-shadow(0 0 .7rem rgb(0, 0, 0));
    }

    .project{
        border-radius: 2.8rem;
        position: relative;
        overflow: hidden;
        background-color: #000000;
        height: 23rem;
        outline: 0rem solid #ffffff;
        border: #ffffff .2rem solid;
        z-index: 40;
    }

    /* NOT CURRENTLY USING IMGS */
    .project img{
        width: 100%;
        height: 100%;
        border-radius: 1.875vw;
        display: block;
        transition: transform .5s, opacity .5s;
    }

    .project video{
        display: block;
        border-radius: 2.8rem;
        position: relative;
        left: -2rem;
    }

    .cover{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000;
        transition: opacity .25s;
        z-index: 100;
    }

    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6), #6a00ffbd);
        border-radius: .625rem;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 .7rem;
        text-align: center;
        font-size: 1rem;
        transition: height .35s;
    }

    .layer h3{
        font-weight: 800;
        font-size: 1rem;
        text-shadow: 0 0 2rem rgb(0, 0, 0);
    }

    .layer h4{
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: .2rem;
        text-shadow: 0 0 2rem rgb(0, 0, 0);
    }
    .layer p{
        text-shadow: 0 0 2rem rgb(0, 0, 0);
        font-size: .3rem;
    }

    .layer a{
        font-size: .425rem;
        margin-top: .625rem;
        text-decoration: none;
        line-height: 2.3rem;
        color: #6a00ff;
        background: #ffffff;
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 50%;
        text-align: center;
    }

    .frameworks{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: .75rem;
        width: 100%;
        height: auto;
    }

    .frameworks img{
        width: 1.2rem;
        height: auto;
        margin-right: .5rem;
        margin-bottom: .5rem;
        border-radius: 0px;
        filter: drop-shadow(0 0 1vw rgba(0, 0, 0, 0.5));
    }

    .project:hover img{
        transform: scale(1.05);
    }

    .project:hover .layer{
        height: 100%;
    }

    .btn{
        display: block;
        margin: 1rem auto;
        width: fit-content;
        border: .25rem solid #fff;
        padding: .875rem 3.125rem;
        border-radius: 1.1rem;
        text-decoration: none;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 500;
        background: #6a00ff4f;
        transition: background 0.3s;
        
    }
    
    .btn:hover{
        background: #6a00ff;
    }




    /* ------------- CONTACT --------------- */

    #contact{
        padding-top: 14%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 4%;
        color: #ffffff;
        text-shadow: #0000005c 0 0 1.225rem;
    }

    #contact .container{
        overflow: hidden;
    }

    #contact .sub-title{
        text-align: left;
        font-size: 2.5rem;
    }

    #contact .row{
        flex-direction: column;
        justify-content: center;
    }

    .contact-left{
        flex-basis: 35%;
    }

    .contact-right{
        flex-basis: 60%;
    }

    .contact-left p{
        margin-top: 1rem;
    }

    .contact-left p{
        color: #fff;
        margin-right: .94rem;
        font-size: 1.2rem;
    }
    .social-icons{
        margin-top: 1rem;
    }

    .social-icons a{
        text-decoration: none;
        font-size: 2.4rem;
        margin-right: .94rem;
        color: #fff;
        display: inline-block;
        transition: transform 0.5s, font-size 0.5s;
    }

    .social-icons a:hover{
        transform: translateY(-.31rem);
        font-size: 2.8rem;
    }

    .btn.btn2{
        display: inline-block;
        background:#6a00ff55;
        text-shadow: none;
        margin-top: .5rem;
    }

    .btn.btn2:hover{
        background: #6a00ff96;
    }

    .contact-right form{
        width: 100%;
    }

    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: .94rem;
        margin: .6rem 0;
        color: #fff;
        font-size: 1.125rem;
        border-radius: .375rem;
    }

    form{
        margin-bottom: 2rem;
    }

    form .btn2{
        padding: .875rem 3.75rem;
        font-size: 1.125rem;
        cursor: pointer;
    }

    .copyright{
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        background: #262626;
        font-weight: 300;
        margin-top: 1.25rem;
        font-size: .4rem;
    }

    #msg{
        color: #ffffff;
        margin-top: -2.5rem;
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .copyright a{
        position: absolute;
        right: 1rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }


}







@media screen and (min-width: 1800px) {
    .introduction-text{
        margin-top: 1vw;
    }
  }