*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background-image: url(../../assets/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}

.flip-animation{
    animation: flip .75s ease;
    transform-style: preserve-3d;
}

@keyframes flip{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(180deg);}
}

/* ---------- HEADER ---------- */

#header{
    width: 100%;
    height: 6.3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headshot{
    width: 28.125rem;
    border-radius: 50%;
    background-image: url(../../assets/img/headshot.png);
    background-size: cover;
    background-position: center;
    /* create a drop shadow */
    box-shadow: -.3125rem -.3125rem 0rem rgb(0, 0, 0);
    outline: .3125rem solid #ffffff;
    outline-offset: .55rem;
    /* margin-top: 5%; */
    /* margin-left: 9%; */

    padding: 0%;
}

.container{
    padding: .3125rem;
}

.title{
    font-size: 3.125rem;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul{
    position: absolute;
    right: 3%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 .625rem;
    align-items: right;
    color: white;
    margin-left: 1.25rem;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    font-size: 1.875rem;
    font-weight: 400;
    position: relative;
    transition: .25s;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: .1875rem;
    background: #6a00ff;
    position: absolute;
    left: 0;
    bottom: -.375rem;
    transition: 0.3s;
}

nav ul li a:hover{
    text-shadow: 0 0 1.25rem #ffffff;
    transition: .25s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* ---------- INTRODUCTION ---------- */

.introduction{
    font-size: 2.1875rem;
    margin-left: 8%;
    margin-top: 3%;
    text-align: left;
}

.introduction-text{
    margin-left: -2%;
}

.introduction h2{
    
}

.introduction p{
    text-shadow: #000000 0rem 0rem .625rem;
    font-weight: 300;
    margin-left: .1%;
}

#preface {
    margin-top: -5%;
    font-size: 3.75rem;
    font-weight: 600;
    text-shadow: #00000034 0rem 0rem .5rem;
}

#name {
    font-size: 5.3125rem;
    font-weight: 800;
    margin-top: -.5%;
    margin-left: -.1%;
    text-shadow: #000000 .25rem .3125rem 0rem;
}

/* ------------- ABOUT --------------- */

#about{
    padding-top: 23.3%;
    padding-left: 4.7%;
    padding-right: 4.7%;
    color: #ffffff;
}

.row{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 45%;
    text-align: left;
    padding-right: 1.6rem;
    font-size: 1.45rem;
    align-self: flex-start;
}

.sub-title{
    text-align: center;
    color: #fff;
}

.about-col-2{
    flex-basis: 27.5%;
    padding-top: 6.25rem;
}

.about-col-2 imageContainer{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}



 /* --------IMAGE 2 --------- */
.about-col-2 img{
    width: 100%;
    border-radius: 3.125rem;
    outline: .3125rem solid #ffffff;
    outline-offset: .55rem;
    transition: .25s;
}

.about-col-2 img:hover{
    transform: scale(1.02);
    transition: .25s;
    cursor: pointer;
}

.sub-title{
    font-size: 4.0625rem;
    font-weight: 700;
}

.tab-titles{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.25rem 0 1.5rem;
    align-items: flex-start
}

.tab-titles p{
    font-size: 1.875rem;
    transition: .25s;
}

.tab-titles p:hover{
    text-shadow: 0 0 1.25rem #ffffff;
    transition: .25s;
}

.tab-links{
    margin-right: 3.125rem;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: .1875rem;
    background: #6a00ff;
    position: absolute;
    left: 0;
    bottom: -.25rem;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: .625rem 0;
}

.tab-contents ul li span{
    color: #bf86ff;
    font-size: 1.5625rem;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}



/* ------------- RESEARCH --------------- */

#research{
    /* padding-top: 480px; */
    padding-top: 12%;
    padding-left: 4.7%;
    padding-right: 4.7%;
    color: #ffffff;
}

#research h1{
    position: relative;
    left: -250px;
}

.research-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
    margin-right: 500px;
}

.research-list div{
    background: #6a00ff2d;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 40px;
    transition: .25s;
}

.research-list div i{
    font-size: 50px;
    padding-bottom: 30px;
}

.research-list div h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 8px;

}

.research-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.research-list div:hover{
    background: #6a00ff51;
    transform: translateY(-10px);
    transition: .25s;
    
}

/* ------------- PROJECTS --------------- */

#projects{
    /* padding-top: 480px; */
    padding-top: 20%;
    padding-left: 4.7%;
    padding-right: 4.7%;
    color: #ffffff;
}

#projects h1{
    position: relative;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.project{
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
}