*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background-image: url(../../assets/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

.flip-animation{
    animation: flip .75s ease;
    transform-style: preserve-3d;
}

@keyframes flip{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(180deg);}
}

c:hover{
    font-weight: bold;
}
d{
    font-size: 3px;
}
/* ---------- HEADER ---------- */

#header{
    width: 100%;
    height: 5.3vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headshot{
    width: 26.125vw;
    max-width: 50rem;
    border-radius: 50%;
    background-image: url(../../assets/img/headshot.png);
    background-size: cover;
    background-position: center;
    /* create a drop shadow */
    outline: .3125vw solid #ffffff;
    outline-offset: .45vw;
    /* margin-top: 5%; */
    /* margin-left: 9%; */

    padding: 0%;
}

.container{
    padding: .3125vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul{
    position: absolute;
    right: 1.5%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 .625vw;
    align-items: right;
    color: white;
    margin-left: 1.25vw;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    font-size: 1.875rem;
    font-weight: 400;
    position: relative;
    transition: text-shadow .25s;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: .1875vw;
    background: #6a00ff;
    position: absolute;
    left: 0;
    bottom: -.375vw;
    transition: 0.3s;
}

nav ul li a:hover{
    text-shadow: 0 0 1.25vw #ffffff;
    transition: .25s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* ---------- INTRODUCTION ---------- */

#introduction{
    /* font-size: 2.1875vw; */
    margin-left: 7.08%;
    margin-top: 0.4%;
    text-align: left;
}

.introduction-text{
    margin-left: -1.8%;
    margin-top: 0%;
    padding-top: 2%;
    position: relative;
    top: 0vw;
}

#introduction p{
    text-shadow: #000000 0 0 .625rem;
    
    font-weight: 100;
    margin-left: .1%;
    font-size: 1.875rem;
}

#preface {
    margin-top: -5vw;
    font-size: 3.75rem;
    font-weight: 600;
    text-shadow: #00000034 0rem 0rem .5rem;
}

#name {
    font-size: 5.3125rem;
    margin-top: -.5%;
    font-weight: 800;
    margin-left: -.1%;
    text-shadow: #0000005c 0 0 1.225rem;
}

/* ------------- ABOUT --------------- */

#about{
    padding-top: 25%;
    padding-left: 4%;
    padding-right: 4%;
    color: #ffffff;
    text-shadow: #000000 0rem 0rem .625vw;
}

.row{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.row p{
    line-height: 1.15;
}

.about-col-1{
    flex-basis: 45%;
    
    text-align: left;
    padding-right: 1.6vw;
    font-size: 1.25rem;
}

.sub-title{
    text-align: center;
    color: #fff;
}

.about-col-2{
    flex-basis: 27.5%;
    padding-top: 5.25vw;
}

.about-col-2 imageContainer{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}



 /* --------IMAGE 2 --------- */
.about-col-2 img{
    width: 23.2vw;
    border-radius: 3.125vw;
    outline: .3125vw solid #ffffff;
    outline-offset: .45vw;
    transition: transform .25s;
    filter: drop-shadow(0 0 2vw rgb(0, 0, 0));
}

.about-col-2 img:hover{
    transform: scale(1.02);
    transition: .25s;
    cursor: pointer;
}

.sub-title{
    font-size: 4.0625rem;
    font-weight: 700;
}

.tab-titles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.25vw 0 1vw;
    align-items: center;
}

.tab-titles p{
    font-size: 1.575rem;
    transition: text-shadow .25s;
}

.tab-titles p:hover{
    text-shadow: 0 0 1.25vw #ffffff;
    transition: text-shadow .25s;
}

.tab-links{
    margin-right: 1.825vw;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: .1875rem;
    background: #6a00ff;
    position: absolute;
    left: 0;
    bottom: -.25rem;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: .625vw 0;
}

.icons{
    display: flex;
    flex-direction: column;
}

.icons ul{
    list-style: none;
    position: relative;
    bottom: 0rem;
    right: 0;
    
}

.icons img{
    width: 3.75rem;
    margin-right: .5rem;
    margin-bottom: 2.5rem;
    filter: drop-shadow(0 0 .35rem rgb(0, 0, 0));
}

.tab-contents ul li f{
    color: rgb(151, 151, 151);
    text-align: end;
}

.tab-contents ul li c{
    color: #ffffff;
}

.tab-contents ul li a{
    color: #ffffff;
}

.tab-contents ul li span{
    color: #d1a9ff;
    font-size: 1.5625rem;
}



.tab-contents ul li::after{
    content: "";
    display: table;
    clear: both;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}



/* ------------- RESEARCH --------------- */

#research{
    /* padding-top: 480px; */
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    color: #ffffff;
}

#research h1{
    position: relative;
    left: -16.65vw;
}

.research-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75vw, 1fr));
    grid-gap: 2.5vw;
    margin-top: 1.25vw;
    margin-right: 27.25vw;
}

.research-header{
    background: #6a00ff2d;
    padding: 2.5vw;
    font-size: 1.25rem;
    font-weight: 300;
    border-radius: 2.5vw;
    transition: transform .25s;
    position: relative;
}

.research-header i{
    font-size: 3.125rem;
    padding-bottom: 1.875vw;
}

.research-header .nova-logo{
    width: 6rem;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    position: absolute;
    right: 1vw;
    top: 1vw;
}

.research-header h2{
    font-size: 2.1875rem;
    font-weight: 600;
    margin-bottom: .5vw;

}

.research-header a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    display: inline-block;
}

.research-header:hover{
    background: #6a00ff51;
    transform: translateY(-.625vw);
    transition: .25s;
}

.research-header p{
    line-height: 1.3;
}

.research-images{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;
    position: relative;
}

.research-images iframe{
    border-radius: 3rem;
    outline: .25vw solid #ffffff;
    outline-offset: .45vw;
    filter: drop-shadow(0 0 1vw rgb(0, 0, 0));
    position: relative;
}

.research-pictures{
    position: absolute;
    right: 8vw;
}

.rpic1{
    margin-left: 1vw;
    position: relative;
    left: 6rem;
    z-index: 2;
    transition: transform .25s;
}

.rpic1 img{
    width: 18rem;
    border-radius: 3rem;
    outline: .25vw solid #ffffff;
    outline-offset: .45vw;
    filter: drop-shadow(0 0 1vw rgb(0, 0, 0));
}

.research-pictures .rpic1:hover{
    z-index: 4;
    transform: translateY(-.2vw);
    transition: .25s;
}

.research-pictures .rpic2:hover{
    z-index: 4;
    transform: translateY(-.2vw);
    transition: .25s;
}

.rpic2{
    z-index: 1;
    position: relative;
    top: -15rem;
    left: -4rem;
    transition: transform .25s;
}

.rpic2 img{
    width: 12rem;
    border-radius: 3rem;
    outline: .25vw solid #ffffff;
    outline-offset: .45vw;
    filter: drop-shadow(0 0 1vw rgb(0, 0, 0));
}


/* ------------- PROJECTS --------------- */

#projects{
    /* padding-top: 480px; */
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: #ffffff;
}

#projects h1{
    position: relative;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75vw, 1fr));
    grid-gap: 2.5vw;
    margin-top: 2.5vw;
    height: 37.5vw;
}

.project{
    border-radius: 1.875vw;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius: 1.875vw;
    display: block;
    transition: transform .5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #6a00ff);
    border-radius: .625vw;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.5vw;
    text-align: center;
    font-size: .875rem;
    transition: height .35s;
}

.layer h3{
    font-weight: 800;
    font-size: 1.875rem;
}

.layer a{
    font-size: .625rem;
    margin-top: .625vw;
    text-decoration: none;
    line-height: 3.75rem;
    color: #6a00ff;
    background: #ffffff;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.05);
}

.project:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 3.125vw auto;
    width: fit-content;
    border: .25vw solid #fff;
    padding: .875vw 3.125vw;
    border-radius: 1.1vw;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    background: #6a00ff4f;
    transition: background 0.5s;
    
}

.btn:hover{
    background: #6a00ff;
}

/* ------------- CONTACT --------------- */

#contact{
    padding-top: 10%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: #ffffff;
    text-shadow: #0000005c 0 0 1.225rem;
}

#contact .sub-title{
    text-align: left;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 1.875vw;
}

.contact-left p{
    color: #fff;
    margin-right: .94vw;
    font-size: 1.56rem;
}
.social-icons{
    margin-top: 1.875vw;
}

.social-icons a{
    text-decoration: none;
    font-size: 1.56rem;
    margin-right: .94vw;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s
}

.social-icons a:hover{
    color: #ff04ff;
    transform: translateY(-.31vw);
}

.btn.btn2{
    display: inline-block;
    background:#6a00ff55;
    text-shadow: none;
}

.btn.btn2:hover{
    background: #6a00ff;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: .94vw;
    margin: .94vw 0;
    color: #fff;
    font-size: 1.125rem;
    border-radius: .375vw;
}

form .btn2{
    padding: .875vw 3.75vw;
    font-size: 1.125rem;
    margin-top: 1.25vw;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 1.56vw 0;
    background: #262626;
    font-weight: 300;
    margin-top: 1.25vw;
}

nav .fa-solid{
    display: none;
}

#msg{
    color: #ffffff;
    margin-top: -2.5vw;
    display: block;
}

/* ------------- CSS for MOBILE SCREEN ------------ */

@media only screen and (max-width: 600px){

    .headshot{
        width: 20.125rem;
        border-radius: 50%;
        background-image: url(../../assets/img/headshot.png);
        background-size: cover;
        background-position: center;
        outline: .1625rem solid #ffffff;
        outline-offset: .25rem;
        position: absolute;
        left: -60px;
        z-index: -1;
    }

    nav ul{
        background: #6a00ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right .5s;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
    nav ul li a
    {
        color: white;
        text-decoration: none;
        font-size: 1.275rem;
        font-weight: 400;
        position: relative;
        transition: .25s;
    }
    
    nav ul li a::after{
        content: '';
        width: 0;
        height: .1875rem;
        background: #6a00ff;
        position: absolute;
        left: 0;
        bottom: -.375rem;
        transition: 0.3s;
    }
    
    nav ul li a:hover{
        text-shadow: 0 0 1.25rem #ffffff;
        transition: .25s;
    }
    
    nav ul li a:hover::after{
        width: 100%;
    }


    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
}

@media screen and (min-width: 2000px) {
    .introduction-text{
        margin-top: 2vw;
    }
  }